<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AI Shopper - Stop wasting time looking at listings endlessly for the perfect one!</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<head>
		<h1>AI Shopper</h1>
	</head>
	<div class="entry">
		<form action="/shop" method="POST">
			<label>
				Product Name: 
			</label>
			<input name="pn" type="text" id="pn" placeholder="laptop">
			<label>
				City:
			</label>
			<input name="c" type="text" id="c" placeholder="Casablanca">
			<label>
				Max Price: 
			</label>
			<input name="mp" type="number" id="mp" placeholder="5000">
			<label>
				Description of What You Want: 
			</label>
			<textarea name="desc" id="desc" placeholder="laptops with a 1650 in them"></textarea>
			<button type="sumbit">Submit</button>
		</form>
	</div>
</body>
</html>
